<!DOCTYPE html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">



<body>
<th:block layout:fragment="content">

  <!-- Start Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="breadcrumbs-content">
            <h1 class="page-title">Category Trial</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="breadcrumb-nav">
            <li><a href="../main/index.html">Home</a></li>
            <li>Category Trial</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Start Category -->
  <section class="category-page section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
          <div class="category-sidebar">
            <!-- Start Single Widget -->
            <div class="single-widget search">
              <h3>Search Ads</h3>
              <form action="#">
                <input type="text" placeholder="Search Here...">
                <button type="submit"><i class="lni lni-search-alt"></i></button>
              </form>
            </div>
            <!-- End Single Widget -->
            <!-- Start Single Widget -->
            <div class="single-widget">
              <h3>All Categories</h3>
              <ul class="list">
                <li>
                  <a href="javascript:void(0)" data-category="여행"><i class="lni lni-dinner"></i> 여행 <span></span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" data-category="문화"><i class="lni lni-control-panel"></i> 문화 <span></span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" data-category="맛집"><i class="lni lni-bullhorn"></i> 맛집 <span></span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" data-category="뷰티"><i class="lni lni-home"></i> 뷰티 <span></span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" data-category="식품"><i class="lni lni-bolt"></i> 식품 <span></span></a>
                </li>
                <li>
                  <a href="javascript:void(0)" data-category="생활"><i class="lni lni-tshirt"></i> 생활 <span></span></a>
                </li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-12">
          <div class="category-grid-list">
            <div class="row">
              <div class="col-12">
                <div class="category-grid-topbar">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                      <h3 class="title">Showing 1-12 of 21 ads found</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active" id="nav-grid-tab"
                                  data-bs-toggle="tab" data-bs-target="#nav-grid" type="button"
                                  role="tab" aria-controls="nav-grid" aria-selected="true"><i
                                  class="lni lni-grid-alt"></i></button>
                          <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab"
                                  data-bs-target="#nav-list" type="button" role="tab"
                                  aria-controls="nav-list" aria-selected="false"><i
                                  class="lni lni-list"></i></button>
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                       aria-labelledby="nav-grid-tab">
                    <div class="row">
                      <div th:each="product : ${products}" class="col-lg-4 col-md-6 col-12">
                        <!-- Start Single Item -->
                        <div class="single-item-grid">
                          <div class="image">
                            <a href="/product/detail"><img th:src="@{/uploads/{image}(image=${product.image})}" alt="Product Image"></a>
                            <i class=" cross-badge lni lni-bolt"></i>
                            <span class="flat-badge sale" th:text="${product.activityType}"></span>
                          </div>
                          <div class="content">
                            <a href="javascript:void(0)" class="tag" th:text="${product.categoryId}"></a>
                            <h3 class="title">
                              <a href="/product/detail" th:text="${product.productName}"></a>
                            </h3>
                            <p class="location"><a href="javascript:void(0)"><i class="lni lni-map-marker">
                            </i><span th:text="${product.location}"></span></a></p>
                            <ul class="info">
                              <li class="price" th:text="'모집인원: ' + ${product.maxApplicants}"></li>
                              <li class="like"><a href="javascript:void(0)"><i
                                      class="lni lni-heart"></i></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- End Single Item -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <!-- Pagination -->
                        <div class="pagination left">
                          <ul class="pagination-list">
                            <li><a href="javascript:void(0)">1</a></li>
                            <li class="active"><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
                          </ul>
                        </div>
                        <!--/ End Pagination -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Category -->


  <!-- ========================= scroll-top ========================= -->
  <a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
  </a>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    // 카테고리 표시
    document.addEventListener('DOMContentLoaded', function() {
    fetch('/product/categories', {
        headers: {
            'Accept': 'application/json'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(categories => {
        console.log('Response categories:', categories); // 응답 카테고리를 출력합니다.
        categories.forEach(category => {
            const listItem = document.querySelector(`a[data-category="${category.name}"]`);
            if (listItem) {
                const spanElement = listItem.querySelector('span');
                if (spanElement) {
                    spanElement.textContent = category.productCount;
                }
            }
        });
    })
    .catch(error => console.error('Error:', error));
});

  </script>
</th:block>
</body>
</html>