<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<body>
<th:block layout:fragment="content">

    <!-- Start Hero Area -->
    <section class="hero-area overlay">
        <div class="container" >
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="hero-text text-center">
                        <!-- Start Hero Text -->
                        <div class="section-heading">
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Welcome to TrialTrove</h2>
                            <p class="wow fadeInUp" data-wow-delay=".5s"> 블로그 체험의 모든 것 <br> 보물 탐험</p>
                        </div>
                        <!-- End Search Form -->
                        <!-- Start Search Form -->
                        <form action="/product/search" method="GET" class="search-form wow fadeInUp" data-wow-delay=".7s">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12 p-0">
                                    <div class="search-input">
                                        <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
                                        <input type="text" name="keyword" id="keyword" placeholder="Product keyword">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                                        <select name="category" id="category">
                                            <option value="" selected disabled>Categories</option>
                                            <option value="여행">여행</option>
                                            <option value="문화">문화</option>
                                            <option value="맛집">맛집</option>
                                            <option value="뷰티">뷰티</option>
                                            <option value="식품">식품</option>
                                            <option value="생활">생활</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="location"><i class="lni lni-map-marker theme-color"></i></label>
                                        <select name="location" id="location">
                                            <option value="" selected disabled>Locations</option>
                                            <option value="Seoul">Seoul</option>
                                            <option value="JeonJu">JeonJu</option>
                                            <option value="DaeJeon">DaeJeon</option>
                                            <option value="GunSan">GunSan</option>
                                            <option value="Busan">Busan</option>
                                            <option value="Jeju">Jeju</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    <div class="search-btn button">
                                        <button type="submit" class="btn"><i class="lni lni-search-alt"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End Search Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Categories Area -->
    <section class="categories" >
        <div class="container">
            <div class="cat-inner">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="category-slider" id="category-slider">
                            <!-- Start Single Category -->
                            <!-- End Single Category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Categories Area -->

    <!-- Start Items Grid Area -->
    <section class="items-grid section custom-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Latest Products</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Happy Treasures Year</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" th:each="product : ${products}">
                        <!-- Start Single Grid -->
                        <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                            <div class="image">
                                <a th:href="@{'/product/trialDetail/' + ${product.id}}" class="thumbnail"><img th:src="@{/uploads/{image}(image=${product.image})}" alt="Product Image"></a>
                                <div class="author">
                                    <div class="author-image">
                                        <a href="javascript:void(0)">
                                            <span th:text="${product.sellerName}"></span></a>
                                    </div>
                                    <p class="sale" th:text="${product.activityType}"></p>
                                </div>
                            </div>
                            <div class="content">
                                <div class="top-content">
                                    <a href="javascript:void(0)" class="tag" th:text="${product.categoryName}"></a>
                                    <h3 class="title">
                                        <a href="/product/detail" th:text="${product.productName}"></a>
                                    </h3>

                                    <ul class="info-list">
                                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker" th:text="${product.location}"></i> </a></li>
                                        <li><a href="javascript:void(0)"><i class="lni lni-timer" th:text="${product.deadlineDate}"></i> </a></li>
                                    </ul>
                                </div>
                                <div class="bottom-content">
                                    <p class="price" id="product-price-${product.id}"
                                        th:text="${product.applicants + '/' + product.maxApplicants + '명'}">
                                    </p>
                                    <li class="like">
                                        <a href="javascript:void(0)" th:onclick="'addToFavorites(' + ${product.id} + ')'">
                                            <i class="lni lni-heart" data-product-id="${product.id}"></i>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Grid -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Items Grid Area -->

    <!-- Start Why Choose Area -->
    <section class="why-choose section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Why Choose Us</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="choose-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".2s">
                                    <i class="lni lni-book"></i>
                                    <h4>Fully Documented</h4>
                                    <p>Buy and sell everything from used cars to mobile phones and computer or search
                                        for property.</p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".4s">
                                    <i class="lni lni-leaf"></i>
                                    <h4>Clean & Modern Design</h4>
                                    <p>Buy and sell everything from used cars to mobile phones and computer or search
                                        for property.</p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".6s">
                                    <i class="lni lni-cog"></i>
                                    <h4>Completely Customizable</h4>
                                    <p>Buy and sell everything from used cars to mobile phones and computer or search
                                        for property.</p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".2s">
                                    <i class="lni lni-pointer-up"></i>
                                    <h4>User Friendly</h4>
                                    <p>Buy and sell everything from used cars to mobile phones and computer or search
                                        for property.</p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".4s">
                                    <i class="lni lni-layout"></i>
                                    <h4>Awesome Layout</h4>
                                    <p>Buy and sell everything from used cars to mobile phones and computer or search
                                        for property.</p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single List -->
                                <div class="single-list wow fadeInUp" data-wow-delay=".6s">
                                    <i class="lni lni-laptop-phone"></i>
                                    <h4>Fully Responsive</h4>
                                    <p>Buy and sell everything from used cars to mobile phones and computer or search
                                        for property.</p>
                                </div>
                                <!-- Start Single List -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Why Choose Area -->

    <!-- Start Call Action Area -->
    <section class="call-action overlay section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="inner">
                        <div class="content">
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Currently You are using free<br>
                                Lite version of ClassiGrids</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">Please, purchase full version of the template to get all pages,<br> features and commercial license.</p>
                            <div class="button wow fadeInUp" data-wow-delay=".8s">
                                <a href="javascript:void(0)" class="btn">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call Action Area -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- js -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const iconMap = {
                    '여행': '../../static/assets/images/categories/car.svg',
                    '문화': '../../static/assets/images/categories/laptop.svg',
                    '맛집': '../../static/assets/images/categories/matrimony.svg',
                    '뷰티': '../../static/assets/images/categories/tshirt.svg',
                    '식품': '../../static/assets/images/categories/travel.svg',
                    '생활': '../../static/assets/images/categories/watch.svg'
                };
            fetch('/product/categories', {
                headers: {
                    'Accept': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(categories => {
                console.log('Categories data:', categories);
                const categorySlider = document.getElementById('category-slider');

                categories.forEach(category => {
                    const categoryName = category.name;
                    const productCount = category.productCount;
                    const iconSrc = iconMap[categoryName] || '../../static/assets/images/categories/default.svg';
                    console.log('Processing category:', categoryName, productCount);

                    // Create a new category element
                    const categoryElement = document.createElement('a');
                    categoryElement.href = "/product/trialList";
                    categoryElement.classList.add('single-cat');

                    categoryElement.innerHTML = `
                        <div class="icon">
                            <img src="${iconSrc}" alt="#">
                        </div>
                        <h3>${categoryName}</h3>
                        <h5 class="total">${productCount}</h5>
                    `;

                    // Append the new category element to the slider
                    categorySlider.appendChild(categoryElement);
                });

                // Home 페이지에서의 카테고리 클릭 이벤트
                document.querySelectorAll('.single-cat').forEach(item => {
                    item.addEventListener('click', function(event) {
                        event.preventDefault(); // 기본 이벤트(링크 이동) 방지

                        const categoryName = this.querySelector('h3').textContent; // 클릭한 카테고리명

                        // trialList 페이지로 이동하면서 클릭한 카테고리명을 query parameter로 전달
                        window.location.href = `/product/trialList?category=${categoryName}`;
                    });
                });

                // 카테고리 동적으로 추가한 후에 슬라이더 초기화
                tns({
                    container: '.category-slider',
                    items: 3,
                    slideBy: 'page',
                    autoplay: false,
                    mouseDrag: true,
                    gutter: 0,
                    nav: false,
                    controls: true,
                    controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
                    responsive: {
                        0: {
                            items: 1,
                        },
                        540: {
                            items: 2,
                        },
                        768: {
                            items: 4,
                        },
                        992: {
                            items: 5,
                        },
                        1170: {
                            items: 6,
                        }
                    }
                });
            })
            .catch(error => console.error('Error:', error));
        });


   // 하트 버튼 관심 체험 추가 (클릭한 상품의 정보를 서버에 보내어 즐겨찾기에 추가하는 함수)
            function addToFavorites(productId) {
              console.log('id 값:',productId)
                // AJAX 요청을 보냅니다.
                fetch(`/product/favorite/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to add product to favorites');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data); // 성공 시 메시지 출력
                    alert("보물함에 담겼습니다.");
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('이미 추가한 보물 입니다.');
                });
            }

    </script>

    <!-- 기존 스크립트 -->
    <script type="text/javascript">
        // testimonial slider 초기화
        document.addEventListener('DOMContentLoaded', function() {
            tns({
                container: '.testimonial-slider',
                items: 3,
                slideBy: 'page',
                autoplay: false,
                mouseDrag: true,
                gutter: 0,
                nav: true,
                controls: false,
                controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
                responsive: {
                    0: {
                        items: 1,
                    },
                    540: {
                        items: 1,
                    },
                    768: {
                        items: 2,
                    },
                    992: {
                        items: 2,
                    },
                    1170: {
                        items: 2,
                    }
                }
            });
        });
    </script>
</th:block>
</body>
</html>