<!DOCTYPE html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">



<body>
<th:block layout:fragment="content">

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Sign In</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="../main/index.html">Home</a></li>
                        <li>Sign In</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- start Registration section -->
    <section class="login registration section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="form-head">
                        <h4 class="title">Registration</h4>
                        <form id="joinForm" action="/member/join" method="post" th:object="${member}">
                            <div class="alt-option">
                                <span>Or</span>
                            </div>
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" required="required" th:field="*{userId}">
                                <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                                <button type="button" class="btn" onclick="checkDuplicate()" style="float: right;">중복 확인</button>
                                <input type="hidden" id="isDuplicateChecked" name="isDuplicateChecked" value="false">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input id="password" type="password" required="required" th:field="*{userPw}">
                                <span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input id="confirmPassword" name="confirmPassword" type="password" required="required" onkeyup="checkPassword()">
                                <div id="checkPwError"></div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" th:field="*{email}" required="required">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" th:field="*{name}" required="required">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn" onclick="submitForm()">Registration</button>
                            </div>
                            <p class="outer-link">Already have an account? <a href="/member/login"> Login Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Registration section -->



    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

//아이디 중복체크
    function checkDuplicate() {
        var userId = document.getElementById("userId").value;

        $.ajax({
            type: "GET",
            url: "/member/checkDuplicate?userId=" + userId,
            success: function(response) {
                if (response === true) {
                    alert("이미 사용 중인 아이디입니다.");
                    document.getElementById("isDuplicateChecked").value = "false";
                } else {
                    alert("사용할 수 있는 아이디입니다.");
                    document.getElementById("isDuplicateChecked").value = "true";
                }
            },
            error: function() {
                alert("중복 확인에 실패했습니다. 다시 시도해주세요.");
            }
        });
    }

// 회원가입 폼 제출
function submitForm() {
    var isDuplicateChecked = document.getElementById("isDuplicateChecked").value;
    if (isDuplicateChecked === "false") {
        alert("중복 확인을 해주세요.");
        return false;
    }

    // 중복 확인 완료시 폼을 서버로 제출
    document.getElementById("joinForm").submit();
}

    //비밀번호 유효검사
    function checkPassword() {
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("confirmPassword");
        var errorDiv = document.getElementById("checkPwError");

        if (password.value !== confirmPassword.value) {
            errorDiv.innerHTML = "비밀번호가 일치하지 않습니다";
            errorDiv.style.color = "red";
        } else {
            errorDiv.innerHTML = "";
        }
    }
</script>

</th:block>
</body>
</html>