<!DOCTYPE html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<body>
<th:block layout:fragment="content">

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Sign In</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="../main/index.html">Home</a></li>
                        <li>Sign In</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- start Registration section -->
    <section class="login registration section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="form-head">
                        <h4 class="title">Registration</h4>
                        <form action="/member/join" method="post" th:object="${member}">
                            <div class="socila-login">
                                <ul>
                                    <li><a href="javascript:void(0)" class="facebook"><i class="lni lni-facebook-original"></i>Import
                                        From Facebook</a></li>
                                </ul>
                            </div>
                            <div class="alt-option">
                                <span>Or</span>
                            </div>
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" th:field="*{userId}">
                                <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                                <button type="button" class="btn" onclick="checkDuplicate()">중복 확인</button>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input id="password" type="password" th:field="*{userPw}">
                                <span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input id="confirmPassword" name="confirmPassword" type="password" onkeyup="checkPassword()">
                                <div id="checkPwError"></div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" th:field="*{email}">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" th:field="*{name}">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                            <div class="check-and-pass">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input width-auto"
                                                   id="exampleCheck1">
                                            <label class="form-check-label">Agree to our <a href="javascript:void(0)">Terms and
                                                Conditions</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button">
                                <button type="submit" class="btn">Registration</button>
                            </div>
                            <p class="outer-link">Already have an account? <a href="login.html"> Login Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Registration section -->



    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>
    <script>

    //아이디 중복체크
    function checkDuplicate() {
    var userId = document.getElementById("userId").value;

    $.ajax({
        type: "GET",
        url: "/checkDuplicate?userId=" + userId,
        success: function(response) {
            if (response === true) {
                alert("사용할 수 있는 아이디입니다.");
            } else {
                alert("이미 사용 중인 아이디입니다.");
            }
        }
   });
}

    //비밀번호 유효검사
    function checkPassword() {
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("confirmPassword");
        var errorDiv = document.getElementById("checkPwError");

        if (password.value !== confirmPassword.value) {
            errorDiv.innerHTML = "Passwords do not match";
        } else {
            errorDiv.innerHTML = "";
        }
    }
</script>

</th:block>
</body>
</html>