<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!--Header 영역을 참조합니다.-->
<html lang="ko">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>TrialTrove</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/favicon.svg" />
        <!-- Place favicon.ico in the root directory -->

        <!-- Web Font -->
        <link
                href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <th:block th:include="fragments/config :: config"></th:block>

</head>

<body>
<!--Header 영역을 참조합니다.-->
<header th:replace="fragments/header :: header"></header>

<!--Content 내용 영역을 참조합니다-->
<th:block layout:fragment="content"></th:block>

<!--Footer 영역을 참조합니다.-->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>